
.ancho{
    width: 80px;
}

.tbl{
    width: 100%;
}


.bgcolor2{
    background-color: #4B8249;
    color: white;
}



.ui-dialog{
    /* margin-left: -65px!important;*/
    margin-top: -10px;
}

.inputmio{    
    margin-top: 8px!important;
}

.ui-chkbox {
    margin-right: 12px!important;
    margin-top: 2px!important;
    height: 29px!important;  
}

.prime{   
    margin-right: 8px;
    height: 30px!important;   
}

.ui-button-text, .ui-c {
    font-size: 11px!important;
    /*        margin-top:  2px;*/
    margin-bottom: 3px!important;
    margin-left: -3px!important;
}

.bulb{
    color: #3c8dbc;  
    cursor: pointer;

}

/*.y{
    color: yellow;     
}*/

.miIcon{
    color: green;
}

.ui-inputfield{
    width: 100%;
    height: 32px;
}

.ui-button-icon{
    color: #fff !important; 
}

.m{    
    margin-right: 10px;
}

.micomplete{    
    width: 100% !important;
}

.ui-autocomplete-input{
    width: 100% !important;
    margin-bottom: 10px;
}



.s{
    width: 72px;
    height: 34px;
    font-size: 14px;
    text-align: center;      
}

.iconS{      
    font-size: 12px;   
    height: 25px;
    text-align: left; 
    cursor: pointer;
    margin-right: 5px;
    color: white!important;
}


.iconS2{   
    width: 39px;
    font-size: 12px;   
    height: 25px;
    text-align: left; 
    cursor: pointer;
    color: white !important;
    margin-right: 5px;
}

.iconSm{      
    font-size: 12px;   
    height: 30px;
    text-align: left; 
    cursor: pointer;
    margin-right: 5px;
    color: white!important;
}


.iconplus{      
    font-size: 12px;   
    height: 32px;
    text-align: left; 
    cursor: pointer;
    margin-left: 5px;
}





.miBtn{     
    width: 55px;
    top: -6px;
    height: 34px;    
    cursor: pointer;
    color: white !important;
    text-align: center;
}



.miBtn2{     
    width: 55px;   
    height: 34px;    
    cursor: pointer;
    color: white !important;
    text-align: center;
}

.miPicker{
    margin-bottom: 11px !important;    
}

.itemMenu{
    margin-left: 7%;
    margin-top:  10px;
    color: #8aa4af !important;   
}

.itemMenu:hover{
    color: white !important; 
}

.separated{
    height: 5px;
}


.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
    color: #ffffff!important; 
    background-color: #a56a4e!important; 
    text-decoration: none; 
    background-color: #0088cc;
    background-color: #0081c2;
    background-position: 0px;
    background-image: -moz-linear-gradient(top, #a56a4e, #a56a4e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a56a4e), to(#a56a4e)); 
    background-image: -webkit-linear-gradient(top, #a56a4e, #a56a4e); 
    background-image: -o-linear-gradient(top, #a56a4e, #a56a4e);
    background-image: linear-gradient(to bottom, #a56a4e, #a56a4e); 
    /* background-repeat: repeat-x; */
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}



